MONITORING_USERNAME=YOUR_MONITORING_USERNAME
MONITORING_PASSWORD=YOUR_MONITORING_PASSWORD

GRAFANA_ADMIN_USER=YOUR_GRAFANA_ADMIN_USER
GRAFANA_ADMIN_PASSWORD=YOUR_GRAFANA_ADMIN_PASSWORD

GRAFANA_SMTP_USER=YOUR_GRAFANA_SMTP_USER
GRAFANA_SMTP_PASSWORD=YOUR_GRAFANA_SMTP_PASSWORD
GRAFANA_SMTP_FROM=YOUR_GRAFANA_SMTP_FROM